<nav role="navigation" class="main-nav">
  <a href="/" class="logo">
    <img
      src="http://localhost/web/webapp/web/sites/default/files/inline-images/white-logo.png"
      alt="Chain App Dev"
    />
  </a>
  {% block content %}
  {{ content }}
  {% endblock %}
</nav>
