<nav role="navigation" class="main-nav">
  <a href="index.html" class="logo">
    <img src="../../assets/images/logo.png" alt="Chain App Dev" />
  </a>
  {% block content %}
  {{ content }}
  {% endblock %}
</nav>
